.button {
  height: var(--btn-height);
  flex: none;
  padding: var(--m-2) var(--m-4);
  border-radius: var(--border-radius);
  cursor: pointer;

  transition: none;
}

.button.button_primary {
  color: var(--bg-primary);
  background-color: var(--active-primary);
  border: none;
}

.button.button_primary:hover {
  background-color: var(--active-secondary);
}

.button.button_neutral {
  background-color: var(--bg-primary);
  border: var(--border-width) solid var(--border-color);
}

.button.button_neutral:hover {
  background-color: var(--bg-secondary);
}
