.lamp-card {
  flex: none;
  display: flex;

  border: none;
}

.lamp-card.lamp-card_vertical {
  width: 18.75rem;
  flex-direction: column;
}

.lamp-card.lamp-card_horizontal {
  height: 10rem;
  flex-direction: row;
}

.lamp-card :is(.lamp-card__a, .lamp-card__add-form) {
  display: contents;
}

.lamp-card :is(.lamp-card__image, .lamp-card__body) {
  border-radius: var(--border-radius);
}

.lamp-card .lamp-card__image {
  object-fit: cover;
  aspect-ratio: 1;
}

.lamp-card .lamp-card__placeholder {
  padding: 1rem;
  overflow: visible;
}

.lamp-card .lamp-card__body {
  position: relative;
  display: flex;
  z-index: 1;
}

.lamp-card.lamp-card_vertical .lamp-card__body-wrapper {
  height: 6rem;

  padding: 0;
}

.lamp-card.lamp-card_vertical .lamp-card__body {
  margin-top: calc(var(--border-radius) * -2);
  flex-direction: column;
  gap: var(--m-2);
}

.lamp-card.lamp-card_horizontal .lamp-card__body {
  margin-left: calc(var(--border-radius) * -2);
  flex-direction: row;
  align-items: center;
  gap: var(--m-4);
}

.lamp-card.lamp-card_vertical .lamp-card__about {
  width: fit-content;
  margin-top: var(--m-2);
  color: var(--text-secondary);

  margin-bottom: 0;
}

.lamp-card.lamp-card_horizontal .lamp-card__about .text-input {
  width: 100%;
}

.lamp-card.lamp-card_vertical .lamp-card__body {
  padding: var(--m-3);
  padding-top: var(--m-5);
}

.lamp-card.lamp-card_vertical .lamp-card__add-btn {
  display: none;
}

.lamp-card.lamp-card_vertical:hover .lamp-card__add-btn {
  display: block;
}

.lamp-card:is(.lamp-card_horizontal, .lamp-card_vertical:hover)
  .lamp-card__body {
  background-color: var(--bg-secondary);
}

@media only screen and (max-width: 430px) {
  .lamp-card.lamp-card_vertical .lamp-card__add-btn {
    display: block;
  }

  .lamp-card .lamp-card__body {
    background-color: var(--bg-secondary);
  }
}

.lamp-card.lamp-card_horizontal .lamp-card__body {
  padding: 0 var(--m-4);
}

.lamp-card .lamp-card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin-bottom: 0;
  color: var(--text-primary);
}

.lamp-card.lamp-card_horizontal :is(.lamp-card__title, .lamp-card__about) {
  width: 10rem;
}
