.page-lamps {
  padding-top: 8.75rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: var(--m-5);
  align-items: center;
}

.page-lamps .page-lamps__lamp-cards {
  --grid-column-cnt: 6;
  --cards-gap: var(--m-3);

  width: 100%;
  padding: 0 var(--cards-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-cnt), 1fr);
  column-gap: var(--cards-gap);
  row-gap: var(--cards-gap);
}

@media only screen and (max-width: 1000px) {
  .page-lamps .page-lamps__lamp-cards {
    --grid-column-cnt: 4;
  }
}

@media only screen and (max-width: 600px) {
  .page-lamps .page-lamps__lamp-cards {
    --grid-column-cnt: 3;
  }
}

@media only screen and (max-width: 430px) {
  .page-lamps .page-lamps__lamp-cards {
    --grid-column-cnt: 1;
    row-gap: var(--m-5);
  }
}

.page-lamps .page-lamps__lamp-cards .lamp-card {
  width: 100%;
}

.page-lamps .page-lamps__lamp-cards .lamp-card:nth-of-type(6n) {
  margin-right: 0;
}

.page-lamps .page-lamps__search-section {
  display: flex;
  flex-direction: row;
  gap: var(--m-2);
}

.page-lamps .page-lamps__search-section {
  width: min(25rem, 90vw);
}

.page-lamps .page-lamps__search-section > .text-input {
  width: 100%;
}

.page-lamps .page-lamps__search-button {
  width: var(--btn-height);
  height: var(--btn-height);
  padding: var(--m-2);
  border-radius: var(--btn-height);
}

.page-lamps .page-lamps__search-icon path {
  color: var(--bg-primary);
}
