.page-lamps {
  padding-top: 8.75rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: var(--m-5);
  align-items: center;
}

.page-lamps .page-lamps__lamp-cards {
  --cards-in-row: 6;
  --cards-gap: var(--m-3);

  width: 100%;
  padding: 0 var(--cards-gap);
  display: flex;
  flex-direction: row;
  gap: var(--cards-gap);
  flex-wrap: wrap;
}

.page-lamps .page-lamps__lamp-cards .lamp-card {
  width: calc(
    (100% - (var(--cards-in-row) - 1) * var(--cards-gap)) / var(--cards-in-row)
  );
}

.page-lamps .page-lamps__lamp-cards .lamp-card:nth-of-type(6n) {
  margin-right: 0;
}

.page-lamps .page-lamps__search-section {
  display: flex;
  flex-direction: row;
  gap: var(--m-2);
}

.page-lamps .page-lamps__search-section > .text-input {
  width: 25rem;
}

.page-lamps .page-lamps__search-button {
  width: var(--btn-height);
  height: var(--btn-height);
  padding: var(--m-2);
  border-radius: var(--btn-height);
}

.page-lamps .page-lamps__search-icon path {
  color: var(--bg-primary);
}
