.page-lamp {
  padding-top: 8.75rem;
  display: flex;
  flex-direction: column;
  gap: var(--m-5);
  align-items: center;
}

.page-lamp .page-lamp__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--m-4);
  padding: 0 var(--m-4);
  margin-bottom: var(--m-4);
}

.page-lamp .page-lamp__image {
  width: min(30rem, 90vw);
  aspect-ratio: 1;
  border-radius: var(--border-radius);
}

.page-lamp .page-lamp__placeholder {
  width: min(30rem, 90vw);
  aspect-ratio: 1;
  border-radius: var(--border-radius);
  padding: 2rem;
  overflow: visible;
}

.page-lamp .page-lamp__info {
  width: min(25rem, 90vw);
  display: flex;
  flex-direction: column;
  gap: var(--m-3);
}

.page-lamp .page-lamp__property {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--m-3);
}
