.page-request {
  padding-top: 8.75rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: var(--m-5);
  align-items: center;
}

.page-request .page-request__power-section .text-input {
  width: 16rem;
}

.page-request .page-request__cards {
  display: flex;
  flex-direction: column;
  gap: var(--m-3);
}

.page-request .page-request__actions-section {
  display: flex;
  flex-direction: row;
  gap: var(--m-3);
}

.page-request .page-request__action-form {
  display: contents;
}
